In [9]:
import pandas as pd

# Especifica la ruta al archivo CSV
file_path = '../Data/IEAGlobalEVData2024.csv'

# Lee el archivo CSV
df = pd.read_csv(file_path)
print("Tamaño del DataFrame:", df.shape)
df.head()

Tamaño del DataFrame: (12654, 8)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [17]:
frecuencia_valores = df['mode'].value_counts()
frecuencia_valores

mode
Cars      4706
Buses     2696
Vans      2568
Trucks    1766
EV         918
Name: count, dtype: int64

In [21]:
frecuencia_valores = df['powertrain'].value_counts()
frecuencia_valores

powertrain
EV                         4894
BEV                        3204
PHEV                       2126
FCEV                       1512
Publicly available slow     463
Publicly available fast     455
Name: count, dtype: int64