# Analisis de los datos

## Data Set Seleccionado
Se selecciona un data set de la Agencia internaciona de Energia con información relacionada con la vehiculos electricos. Se debe analizar la composicion del data set para identificar las columnas y varibles incluidas.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# Especifica la ruta al archivo CSV
file_path = '../Data/IEAGlobalEVData2024.csv'

# Lee el archivo CSV
df = pd.read_csv(file_path)
print("Tamaño del DataFrame:", df.shape)
df.head()

Tamaño del DataFrame: (12654, 8)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

## Revisió General de las Columnas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

### Descripcion de las columnas

El data set se comppone de 8 columnas con la siguiente información estimada post previsualización:
- Region: Variable categorica del tipo string con información del País
- Category: Variable categorica del tipo string con información que indica el tipo de dato, si es historico u otra categoria.
- Parameter: Variable categorica del tipo string con información que indica el tipo de dato, representa si son ventas, estock y participación en el mercado.
- Mode: Variable categorica del tipo string con información de si la información esta relacionada con que tipo de vehiculo.
- Powetrain: Variable categorica del tipo string con información de si la información esta relacionada con la sub categoria de vehiculos electricos.
- Year: Variable numerica del tipo entero que indica el año al que pertenece la información.
- Unit: Variable del tipo categoricadel tipo string que indica el unidad de medida del dato.
- Value: Vatriable numerica del tipo foat que entrega el valor numerico de la medición.

## Revisón Detallada de Columnas

A continuación se realizará una revisión detallada de las columnas categoricas para identificar su composición

In [5]:
frecuencia_valores = df['region'].value_counts()
frecuencia_valores

region
World                   1250
Europe                  1234
China                   1138
Rest of the world        954
USA                      737
India                    702
EU27                     424
Netherlands              358
France                   358
United Kingdom           345
Denmark                  319
Belgium                  310
Germany                  298
Norway                   270
Sweden                   269
Japan                    260
Switzerland              245
Spain                    245
Canada                   240
Italy                    230
Korea                    209
Finland                  200
Poland                   194
Portugal                 189
New Zealand              185
Brazil                   183
Israel                   148
Austria                  116
Iceland                  115
Chile                    103
Australia                 94
Mexico                    87
Greece                    83
South Africa              83
Turkiye                   83
Latvia                    27
Hungary                   27
Ireland                   27
Colombia                  27
Costa Rica                27
Bulgaria                  25
Estonia                   25
Czech Republic            24
Slovenia                  24
Slovakia                  23
Romania                   19
Lithuania                 19
Seychelles                18
United Arab Emirates      18
Luxembourg                15
Croatia                   15
Thailand                  14
Cyprus                    14
Indonesia                  8
Name: count, dtype: int64

In [24]:
df['category'].value_counts()

category
Historical          9174
Projection-APS      1742
Projection-STEPS    1738
Name: count, dtype: int64

In [30]:
df['parameter'].value_counts()

parameter
EV stock                         3470
EV sales                         3372
EV sales share                   1642
EV stock share                   1529
EV charging points                918
Oil displacement Mbd              586
Oil displacement, million lge     586
Electricity demand                551
Name: count, dtype: int64

In [28]:
df['parameter'].value_counts()

parameter
EV stock                         3470
EV sales                         3372
EV sales share                   1642
EV stock share                   1529
EV charging points                918
Oil displacement Mbd              586
Oil displacement, million lge     586
Electricity demand                551
Name: count, dtype: int64

In [32]:
df['unit'].value_counts()

unit
Vehicles                         6842
percent                          3171
charging points                   918
Milion barrels per day            586
Oil displacement, million lge     586
GWh                               551
Name: count, dtype: int64

Detalles:
- De la columna region se puede identificar que la información se divide en 3 grupos principales: Valores Globales, Europa-EU27-resto del mundo, y un desgloce por pais.
- La columna Category, se identifica dos grupos principales compuesto con valores historicos reales, mas el grupo de proyeciones compuestos por proyecciones STEP y APS (En readme se dejara descripción de este tipo de proyección)
- La columna Parameter entrega información relacionada a diferentes parametros que se miden en general para la electromovilidad, dentro de los que se pueden encontrar el Stock de EV por años, Ventas de EV por año, porcentaje de Ventas y Stock, Numero de cargadores por año, combustible demandado y energya electrica demandada.
- La columna Unit indica la unidad de medida de los valores de la columna "Value", donde los valores pueden ser cantidad de vehiculos, Porcentajes, Numero de puntos de carga, Millones de Barilles de combustible por dia, y GWH de energia electrica.

## Concluciones Generales del Data Set.

  El data set contiene mucha información dentro del mismo dataset, el que podria ser separado en diferentes data frames para distintos analisis del comparamiento de la electromovilidad por region, ventas y proyecciones, comparaciones de las ventras vs las proyecciónes, si hay una relacion real en la instalacion de puntos de carga con respecto al numero de ventas y analizar como es el escenario de Chile comparado con el resto de latinoamerica y el mundo.