# Variables auxiliares

  Con el fin de hacer una analisis mas detallado por continente, se generará una nueva variable categorica, donde los valores podran ser: Europa, Asia, Norte America, Latam (Sudamerica, Centro America y el Caribe) y africa. El objetivo es poder visualizar donde hay mas desarrollo de electromovilidad

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# Especifica la ruta al archivo CSV
file_path = '../Data/IEAGlobalEVData2024.csv'

# Lee el archivo CSV
df = pd.read_csv(file_path)
# Filtro de solo datos historicos
df_h=df[df['category'] == 'Historical']
# Eliminación de datos relacionados al desplazamiento de petroleo
df_h = df_h[~df_h['parameter'].isin(['Oil displacement Mbd', 'Oil displacement, million lge'])]

In [5]:
frecuencia_valores = df['region'].value_counts()
frecuencia_valores

region
World                   1250
Europe                  1234
China                   1138
Rest of the world        954
USA                      737
India                    702
EU27                     424
Netherlands              358
France                   358
United Kingdom           345
Denmark                  319
Belgium                  310
Germany                  298
Norway                   270
Sweden                   269
Japan                    260
Switzerland              245
Spain                    245
Canada                   240
Italy                    230
Korea                    209
Finland                  200
Poland                   194
Portugal                 189
New Zealand              185
Brazil                   183
Israel                   148
Austria                  116
Iceland                  115
Chile                    103
Australia                 94
Mexico                    87
Greece                    83
South Africa              83
Turkiye                   83
Latvia                    27
Hungary                   27
Ireland                   27
Colombia                  27
Costa Rica                27
Bulgaria                  25
Estonia                   25
Czech Republic            24
Slovenia                  24
Slovakia                  23
Romania                   19
Lithuania                 19
Seychelles                18
United Arab Emirates      18
Luxembourg                15
Croatia                   15
Thailand                  14
Cyprus                    14
Indonesia                  8
Name: count, dtype: int64

In [9]:
# Crear un diccionario que mapea cada país a su región
region_map = {
    'World': 'Global',
    'Europe': 'Global',
    'China': 'Asia',
    'Rest of the world': 'Global',
    'USA': 'North America',
    'India': 'Asia',
    'EU27': 'Global',
    'Netherlands': 'Europe',
    'France': 'Europe',
    'United Kingdom': 'Europe',
    'Denmark': 'Europe',
    'Belgium': 'Europe',
    'Germany': 'Europe',
    'Norway': 'Europe',
    'Sweden': 'Europe',
    'Japan': 'Asia',
    'Switzerland': 'Europe',
    'Spain': 'Europe',
    'Canada': 'North America',
    'Italy': 'Europe',
    'Korea': 'Asia',
    'Finland': 'Europe',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'New Zealand': 'Oceania',
    'Brazil': 'Latam',
    'Israel': 'Asia',
    'Austria': 'Europe',
    'Iceland': 'Europe',
    'Chile': 'Latam',
    'Australia': 'Oceania',
    'Mexico': 'Latam',
    'Greece': 'Europe',
    'South Africa': 'Africa',
    'Turkiye': 'Asia',
    'Latvia': 'Europe',
    'Hungary': 'Europe',
    'Ireland': 'Europe',
    'Colombia': 'Latam',
    'Costa Rica': 'Latam',
    'Bulgaria': 'Europe',
    'Estonia': 'Europe',
    'Czech Republic': 'Europe',
    'Slovenia': 'Europe',
    'Slovakia': 'Europe',
    'Romania': 'Europe',
    'Lithuania': 'Europe',
    'Seychelles': 'Africa',
    'United Arab Emirates': 'Asia',
    'Luxembourg': 'Europe',
    'Croatia': 'Europe',
    'Thailand': 'Asia',
    'Cyprus': 'Europe',
    'Indonesia': 'Asia'
}

# Crear la nueva columna 'region_category' en el DataFrame
df_h['region_category'] = df_h['region'].map(region_map)

# Mostrar los primeros registros del DataFrame con la nueva columna
df_h.head()

,region,category,parameter,mode,powertrain,year,unit,value,region_category
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039,Oceania
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650,Oceania
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000,Oceania
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000,Oceania
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000,Oceania

In [11]:
df_h.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8626 entries, 0 to 12377
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   region           8626 non-null   object
 1   category         8626 non-null   object
 2   parameter        8626 non-null   object
 3   mode             8626 non-null   object
 4   powertrain       8626 non-null   object
 5   year             8626 non-null   int64
 6   unit             8626 non-null   object
 7   value            8626 non-null   float64
 8   region_category  8626 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 673.9+ KB